# Commented are default values

# CBSD_WORKDIR="/usr/cbsd"
# MASTER_IP="172.16.0.253"
# DOMAIN=`hostname`
# USE_ZFS="yes"
# INTERFACE="cbsd0"
# INTERFACE_IP="172.16.0.254"
# JAIL_INTERFACE_IP="172.16.1.254"
# ZFS_POOL="zroot"
# PROJECTS_DIR="/home/user/reggae/repos"
# PKG_MIRROR="pkg.FreeBSD.org"
# PKG_REPO="latest"
# PKG_ABI='$${ABI}'
