# Commented are default values

# BACKEND="base"
# CBSD_WORKDIR="/usr/cbsd"
# BASE_WORKDIR="/var/jails"
# MASTER_IP="172.16.0.253"
# MASTER_IP6=":2"
# DOMAIN=`hostname`
# INTERFACE="jails"
# INTERFACE_IP="172.16.0.254"
# INTERFACE_IP6=":1"
# JAIL_INTERFACE_IP="172.16.1.254"
# ZFS_POOL="zroot"
# PROJECTS_DIR="/home/user/reggae/repos"
# PKG_MIRROR="pkg.FreeBSD.org"
# PKG_REPO="latest"
# PKG_PROXY="no"
# IPV6_PREFIX="fd10:6c79:8ae5:8b91:"
# USE_ZFS="yes"
# USE_IPV4="yes"
# USE_IPV6="yes"
# BRIDGE_MEMBERS=""
